<section id="educacion">
    <h2>Lista de Estudios</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Institución</th>
                <th>Título</th>
                <th>Año</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Universidad Francisco Marroquín</td>
                <td>Ingeniería en Ciencias de la Computación</td>
                <td>2021 - Presente</td>
            </tr>
        </tbody>
    </table>
</section>